app = "fpl-n0-lhw"
primary_region = "ams"

[env]
  PORT = "8080"
  DJANGO_SETTINGS_MODULE = "fplsite.settings"
  DEBUG = "False"
  ALLOWED_HOSTS = "fpl-n0-lhw.fly.dev"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
