# fly.toml app configuration file generated for fpl-n0-lhw on 2026-02-10T23:05:14Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fpl-n0-lhw'
primary_region = 'ams'
console_command = '/code/manage.py shell'

[build]

[env]
  PORT = '8000'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
